#home{
    display: grid;
    padding-top: 30px;
    width: 90%;
    grid-template-columns: repeat(4, 28%) ;
    grid-row-gap: 60px;
}
@media only screen and (max-width:1300px){
    #home{
        display: grid;
        width: 91%;
        gap: 30px;
        grid-template-columns: repeat(3, 33%) ;
    }
}
@media only screen and (max-width:960px){
    #home{
        display: grid;
        width: 91%;
        gap: 30px;
        grid-template-columns: repeat(2, 50%) ;
    }
}
@media only screen and (max-width:610px){
    #home{
        display: grid;
        width: 91%;
        gap: 30px;
        grid-template-columns: 100% ;
    }
}