.profile-dropdown {
  position: absolute;
}

.divider {
  background-color: gray;
  display: flex;
  height: 2px;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 20px;
}

.small_divider{
  background-color: gray;
  display: flex;
  height: 1px;
  width: 100%;
  margin-bottom: 2px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding-right: 80px;
}