.profile-dropdown {
  position: absolute;
}

.divider {
  background-color: gray;
  display: flex;
  height: 2px;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 20px;
}

.small_divider{
  background-color: gray;
  display: flex;
  height: 1px;
  width: 100%;
  margin-bottom: 2px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding-right: 80px;
}

.post-nav{
  font-size: larger;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;  
  height: 30px;
  margin-top: 10px;
  cursor: pointer;
}

.post-nav:hover{
  color: lightblue;
}

.movie-nav{
  font-size: larger;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;  
  height: 30px;
  margin-top: 10px;
  cursor: pointer;
}

.movie-nav:hover{
  color: lightblue;
}